
:root {
    --primary: #56808C;
    --bg-main: #FFFFFF;
    --secondary: #9D9D9D;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lobster', cursive,'Poppins', sans-serif;
}
body {
    display: flex;
    background: linear-gradient(180deg, #567F8C 68.27%, rgba(255, 255, 255, 0.00) 98.92%);
}
main{
    padding: 4% 7% 4% 8%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    
}
.login-info{
    display: flex;
    width: 70%;
    height: 85vh;
    flex-shrink: 0;
    border-radius: 10px;
    position: relative;
    background: url(/img/background.jpg) rgb(41, 41, 41) 90% / cover no-repeat;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.login-form{
    width: 35%;
    height: 76vh;
    display: flex;
    border-radius: 10px;
    background: var(--bg-main);
    position: absolute;
    right: 17%;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
