
:root {
    --primary: #56808C;
    --bg-main: #FFFFFF;
    --secondary: #9D9D9D;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lobster', cursive,'Poppins', sans-serif;
}
body {
 background: linear-gradient(180deg, #567F8C 68.27%, rgba(255, 255, 255, 0.00) 98.92%);
}
main{
height: 100%;
width: 100%;
}
